# Arquivos de Build
bin/
obj/
publish/

# Configurações locais (Segurança!)
appsettings.Development.json
appsettings.Local.json

# Visual Studio / VS Code
.vs/
.vscode/
*.user
*.suo
.DS_Store

# Logs
*.log*.save

# Backups de configuração
*.save
appsettings.*.json
!appsettings.json
